# ── Secretos ──────────────────────────────────────────────
.env
lib/liquibase.properties

# ── IDE ───────────────────────────────────────────────────
.idea/
*.iml
.vscode/

# ── Liquibase ─────────────────────────────────────────────
*.log
liquibase.output.file

# ── Docker ────────────────────────────────────────────────
postgres_data/

# ── OS ────────────────────────────────────────────────────
.DS_Store
Thumbs.db
